
__pycache__/
*.py[cod]
*.so
.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.pytest_cache/
.hypothesis/
.env
.venv
venv/
ENV/
env/
.idea/
.vscode/
.DS_Store
db.sqlite3
.ipynb_checkpoints
.ruff_cache/
.mypy_cache/
__marimo__/
.streamlit/secrets.toml